app/runtime/*
www/assets/*
framework
.idea
app/config/admin/_db.php
app/config/admin/_emails.php
app/config/admin/_logs.php
app/config/admin/_modules.php
app/config/admin/_params.php
app/config/admin/_payon.php
app/config/admin/_routes.php
app/config/admin/_zendesk.php
